.container {
    background: #f8fdfc;
    
    width: 100%;
    
    position: relative;
    box-sizing: border-box;
    margin: 0;
    padding: 70px;
    height: 100%;
}
.for-individuals {
    color: var(--cl-black, #000b0a);
    text-align: left;
    font-family: 'Brown-Bold', sans-serif;
    font-size: 40px;
    line-height: 50px;
    font-weight: 700;
    position: relative;
    
}
.benefits {
    color: var(--cl-grey, #737373);
    text-align: left;
    font-family: 'Brown-Regular', sans-serif;
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
    position: relative;
    
    align-items: center;
    justify-content: flex-start;
    width: 460px;
    height: 75px;
}
label {
    color: var(--text-headings, #011c34);
    text-align: left;
    font-family: 'Sofia-SemiBold', sans-serif;
    font-size: 14px;
    font-weight: 600;
    width: 200px; 
    height: 5px;
    display: block;
    flex: 1;
    max-width: 400px;

}

.sign-up {
    background: #ffffff;
    border-radius: 6px;
    width: 580px;
    height: 679px;
    position: relative;
    box-shadow: 0px 4px 50px 0px rgba(4, 8, 19, 0.10);
    padding: 60px;
    
    

}

#placeholder {
    color: var(--cl-grey, #737373);
        text-align: left;
        font-family: 'SofiaPro-Light', sans-serif;
        font-size: 14px;
        line-height: 20px;
        font-weight: 300;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-start
}
.section-1 {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}
.section-2 {
   padding: 50px;
}


input {
    padding: 8px;
    flex: 1;
    box-sizing: border-box;
}
input[type], textarea, select {
   
  border-radius: 1px;
  
  border-style: solid;
  width: 50%;
  height: 48px;
  position: relative;
  border-width: 3px;
  transition: border-color 150ms ease-in-out;
  
  
}
/*#last-name {
    border-radius: 2px;
        border-style: solid;
        border-color: var(--cl-gray-3, #f0f0f0);
        border-width: 1px;
        position: absolute;
        right: 0%;
        left: 0%;
        width: 100%;
        bottom: 0%;
        top: 0%;
        height: 100%;*/


input[type]:hover, textarea:hover  {
    border-color: #2ec4b6;
}
.submit-button {
   width: 100%;
    
}