.container {
    background: var(--cl-green, #2ec4b6);
    /*opacity: 0.04;*/
    width: 1440px;
    height: 840px;
    position: relative;
    box-sizing: border-box;
}
.for-individuals {
    color: var(--cl-black, #000b0a);
    text-align: left;
    font-family: 'Brown-Bold', sans-serif;
    font-size: 40px;
    line-height: 50px;
    font-weight: 700;
    position: relative;
}
.benefits {
    color: var(--cl-grey, #737373);
    text-align: left;
    font-family: 'Brown-Regular', sans-serif;
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
    position: relative;
    
    align-items: center;
    justify-content: flex-start;
}